.about {
    /* margin-top: 20%;
     */
    margin-right: 20%;
    margin-left: 20%;
    /* height: 0%; */
    /* width: 100%; */
    display: flex;
}

.left {
    width: 50%;
    border: 2px solid red;
}

.right {
    width: 50%;
    border: 2px solid green;
    padding: 1%
}